language: php

dist: trusty

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - hhvm

before_script:
    - composer install --dev --no-interaction

script:
    - mkdir -p tmp
    - phpunit --coverage-text